body {
    font-family: sans-serif;
    background-color: #f8f8f8;
    margin: 0px;
    padding: 0px;
}

.main-container {
    padding: 0px 30px 30px 30px;
    width: 100%;
    max-width: 750px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}

#header {
    padding-bottom: 20px;
}


h2,
h3 {
    color: #333;
}

#quiz-screen {
    margin-top: 10px;
    background-attachment: fixed;
    
}

.category-group label {
    display: inline-block;
}

#progress {
    padding-bottom: 10px;
    padding-top: 5px;
}

/* \nを改行として表示する */
#question-text,
#choices label,
#explanation {
    white-space: pre-wrap;
    line-height: 1.6;
}

#choices {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 700px;
}

#choices label {
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 5px 14px;
  border-radius: 6px;
  border: 2px solid #b4aeae;
  cursor: pointer;
  line-height: 1.6;
  text-align: left;
}

#choices input[type="radio"],
#choices input[type="checkbox"] {
    position: relative;
    top: 4px;
    right: 5px;
}

#explanation {
    background-color: #ffffff;
    padding: 5px 14px;
    border-radius: 6px;
    border: 2px solid #b4aeae;
    width: 670px;
}

button {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #cccccc;
}

#clear-category {
    background-color: #dedede;
    border: 1px solid #7b7b7b;
    padding: 5px;
}

#answer {
    padding-bottom: 15px;
    line-height: 1.5;
}

#result-screen {
    margin-top: 20px;
    padding: 15px, 10px, 0px, 15px;
    
}
